# Logs
logs
*.log

node_modules
dist

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store

# Data
.data/
*.html
*.db
*.env

# AI instructions
plans/
other-docs/

config.toml
.env
.env.dev
.env.local

# AI code assistants
.claude/


# Website
.astro/
